# This is a basic workflow to help you get started with Actions

name: WhereWulff

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  WhereWulff:
    # The type of runner that the job will run on
    runs-on:
     - ubuntu-latest

    container:
     image: docker://ulissigroup/vasp:atomate_stack
     options: --user root
     credentials:
       username: ${{ secrets.DOCKERHUB_USERNAME }}
       password: ${{ secrets.DOCKERHUB_TOKEN }}
      
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: checkout the repo
        uses: actions/checkout@v2
        with:
          ref: unit_tests

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: ls -al
      - name: Check the env
        run: |
            env
            cd /home/jovyan # Does /home/jovyan exist?
            ls -al
            echo "---\n"
            # Mongodb in the back
            mongod --quiet &>/dev/null &
            # Reset local database
            yes | lpad reset
            echo "---\n"
            # Go to repo directory
            export PYTHONPATH=$GITHUB_WORKSPACE
            echo "Checking out the code base..."
            cd $GITHUB_WORKSPACE && ls -al
            echo "---\n"
            # Execute
            python main_slab.py && rlaunch rapidfire

